[python]
.venv/
__pycache__/
.ipynb_checkpoints

[other]
tmp/
personal_experience

[data]
# heavy file
data/train-labels-weights.tif
*.h5

[logs]
models/logs/train/
models/logs/validation/
models/test/**/*.h5
